.pagination{
    border:none !important
}
.table{
    height: 100vh;
    overflow: auto;
}

#preview-container {
    margin-top: 20px;
}

#preview-image {
    max-width: 100%;
    max-height: 300px;
    display: none;
}

#reset-button {
    margin-top: 10px;
    cursor: pointer;
    color: red;
    display: none;
}